@model Web_Server_App_Final_Project.Models.HobbyViewModel
@{
    ViewBag.Title = "OurData";
}
<div class="DataTop">
    <div class="text-center">
        <h1 class="display-4">Our Data</h1>
        <p>Here is our data from our Hobbies tables.</p>
    </div>
</div>
<section class="OurData">
    <div>
        <h3>Games</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr><th>Name</th><th>Genre</th><th>Platform</th><th>Year</th></tr>
            </thead>
            <tbody>
                @foreach (var games in Model.Games)
                {
                    <tr>
                        <td>@games.Year</td>
                        <td>@games.Name</td>
                        <td>@games.Genre</td>
                        <td>@games.Platform</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <div>
        <h3>Trumpets</h3>
        <table class="table table-bordered table-striped">

            <thead>
                <tr><th>Year</th><th>Model</th><th>Make</th></tr>
            </thead>
            <tbody>
                @foreach (var trumpets in Model.Trumpets)
                {
                    <tr>
                        <td>@trumpets.Year</td>
                        <td>@trumpets.Model</td>
                        <td>@trumpets.Make</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <div>
        <h3>Cars</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr><th>Year</th><th>Make</th><th>Model</th></tr>
            </thead>
            <tbody>
                @foreach (var car in Model.Cars)
                {
                    <tr>
                        <td>@car.Year</td>
                        <td>@car.Make</td>
                        <td>@car.Model</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

